:root {
  --color1: #f7768e;
  --color2: #ff9e64;
  --color3: #e0af68;
  --color4: #cfc9c2;
  --color5: #9ece6a;
  --color6: #73daca;
  --color7: #b4f9f8;
  --color8: #2ac3de;
  --color9: #7dcfff;
  --color10: #7aa2f7;
  --color11: #bb9af7;
  --color12: #c0caf5;
  --color13: #a9b1d6;
  --color14: #9aa5ce;
  --color15: #565f89;
  --color16: #414868;
  --color17: #24283b;
  --color18: #1a1b26;
}
